body {
    width: 1366px;
    background: rgb(66, 63, 57);
    margin: 0 auto; 
    padding: 0;
    overflow:hidden;
}
.slider {
    padding-top: 100px;
    display: flex;
    position: relative;
    width: 2000px;
    transition: all 0.8s ease;
}
.cell {

    border: 2px solid black;

    width: 400px;
    height: 150px;
    margin-right: 50px;
    transition: all 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
   
}
.but-next,
.but-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: white;
    width: 50px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 50%;
    height: 50px;
    font-size: 40px;
    border: 2px solid black;
}
