body {
   background: rgb(236, 232, 232);
}
header {
    padding-bottom: 30px;
}
footer {
    padding: 20px;
}
.list-card {
    margin-top: 20px;
    display: flex;
}
.card {
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.286);
}
.sliders {
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.286);
    margin-top: 20px;
    margin-left: 180px;
    transition: all 0.5s;
    width: 600px;

}
.badge {
    position: relative;
    top: -10px;
    left: 10px;
}
